<div>
    <button mat-raised-button color="warn" style="margin-left: 1225px;" (click)="Salir()">Cerrar Sesion</button>
    <div class="center1">
        <img src="assets/images/nuevo_cliente.jpg" style="height: 200px; width: 200px;" (click)="registrar_cliente()">
    </div>
    <div class="center2">
        <img src="assets/images/venta.png" style="height: 200px; width: 200px;" (click)="registrar_venta()">
    </div>
    <div class="center3">
        <img src="assets/images/perfil_vendedor.jpg" style="height: 200px; width: 200px;" (click)="perfil()">
    </div>
</div>
