<div>
    <button mat-raised-button color="warn" style="margin-top: 20px; margin-left: 1225px; " (click)="Salir()" >Cerrar Sesion</button>
    <div class="center1">

        <img src="assets/images/inventario.png" style="height: 200px; width: 200px;" (click)="ActInventario()">
    </div>
    <div class="center2">
        <img src="assets/images/transferencia.png" style="height: 200px; width: 200px;" (click)="SoliTrans()">
    </div>
    <div class="center3">
        <img src="assets/images/ordenesI.png" style="height: 200px; width: 200px;" (click)="VerTransIn()">
    </div>
    <div class="center4">
        <img src="assets/images/ordenesE.png" style="height: 200px; width: 200px;" (click)="VerTransEx()">
    </div>
    <div class="center5">
        <img src="assets/images/perfil.jpeg" style="height: 200px; width: 200px;" (click)="perfil()">
    </div>
</div>
